<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="images/logo-mercado-liebre.svg", alt="">

        <p>Lugar para poner la barra de busqueda</p>
        
        <p>Comprá en cuotas y sin tarjeta de credito</p>

    <nav>
        <ul>
            <li><a href="ofertas.html">Ofertas</a></li>
            <li><a href="tiendasoficiales.html">Tiendas Oficiales</a></li>
            <li><a href="vender.html">Vender</a></li>
            <li><a href="ayuda.html">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="crear.html">Crear Cuenta</a></li>
            <li><a href="login.html">Ingresá</a></li>
            <li><a href="compras.html">Mis compras</a></li>
        </ul>
    </nav>

    </header>

    <main>
        <br>
    <section>
        <h2>Sección: Basado en tu última visita</h2>

        <article>
            <img src="images/img-cafetera-moulinex.jpg", width="320">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg", width="320">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg", width="320">
            <p>$70.000</p>
            <p>10% off</p>   
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="images/img-tv-samsung-smart.jpg", width="320">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>Smart TV Samsung 43"</h4>
        </article>

    </section>
<br>
    <section>
        <h2>Sección de Ofertas</h2>
        <article>
            <img src="images/img-cafetera-moulinex.jpg", width="320">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4> 
        </article>
        <article>
            <img src="images/img-macbook-pro-2019.jpg", width="320">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
        </article>
        <article>
            <img src="images/img-samsung-galaxy-s10.jpg", width="320">
            <p>$70.000</p>
            <p>10% off</p>   
            <h4>Samsung Galaxy S10</h4>
        </article>
        <article>
            <img src="images/img-tv-samsung-smart.jpg", width="320">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>Smart TV Samsung 43"</h4>
        </article>
        
    </section>
    <br>
    </main>
    <footer>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L</p>
                
    </footer>
</body>
</html>